# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files
data/
*.csv
*.zip

# Virtual environments
.venv/
env/
venv/

# VSCode settings
.vscode/
